
<div class="form-group {{if showError 'has-error has-feedback'}} {{unless errors 'has-success has-feedback'}}">
		{{label labelText for=name class="control-label"}}		
		
		{{input value=value class="form-control" focus-out="showErrors" type=type placeholder=placeholder}}
		{{#if showError}}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  		<span id="{{name}}Error2Status" class="sr-only">(error)</span>
	  		{{#if showError}}
	  			<p class="error-message">{{errors}}</p>
			{{/if}}
  		{{/if}}
  		{{#unless errors}}
			<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  		<span id="{{name}}Success2Status" class="sr-only">(success)</span>
	  		
  		{{/unless}}
</div>