
<div class="form-group {{if showError 'has-error '}} {{if showSuccess 'has-success'}}">
		{{label labelText for=name class="control-label"}} {{#if required}}<span class="required-asterisk red">*</span>{{/if}}
		{{#if showError}}
			{{input value=value name=name class="form-control form-control-error"  focus-out="showErrors" type=type placeholder=placeholder}}
		{{else if showSuccess}}
			{{input value=value name=name class="form-control form-control-success"  focus-out="showErrors" type=type placeholder=placeholder}}
		{{else}}
			{{input value=value name=name class="form-control" focus-out="showErrors" type=type placeholder=placeholder}}
		{{/if}}		
		{{#if showError}}
	  	<p class="error-message">{{errors}}</p>
		{{/if}} 		
</div>