{{#if modelSuccess}}
	<br/>
	<div class="alert alert-success alert-dismissable" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>  </button>
		  <i class="fa fa-check"></i>
		<strong>Success!</strong> Password updated.
		<i class="fa fa-ok"></i>
	</div>	
{{/if}}
<form {{action 'updatePassword' model on="submit" }}>
	<h2>Change Password</h2>
	{{#if model.errors}}
		{{display-errors errors=model.errors}}
	{{/if}}
	{{validated-input-group type="password" placeholder="Enter current password" name="oldPassword" hasValidationErrors=hasValidationErrors labelText="Current Password" value=model.oldPassword errors=errors.validationModel.oldPassword}}
	{{validated-input-group type="password" placeholder="Enter new password" name="newPassword" hasValidationErrors=hasValidationErrors labelText="New Password" value=model.newPassword errors=errors.validationModel.newPassword}}
	{{validated-input-group type="password" placeholder="Confirm new password" hasValidationErrors=hasValidationErrors name="newPasswordConfirmation" labelText="Confirm New Password" value=model.newPasswordConfirmation errors=errors.validationModel.newPasswordConfirmation}}
	<button class="btn btn-primary" type='submit'>Change Password</button>
</form>
