<div class="row">
		<div class="col-md-12">
			<br/>
		</div>
</div>

<div class="row row-bottom">
	<div class="col-md-2">
		{{gravatar-image email=session.currentUser.email 
				  defaultImage='identicon'
				  class='img-responsive img-rounded'
				  size=150}}
	</div>
		<div class="col-md-10">
			
			<ul class="nav nav-pills ">
				{{!-- {{#link-to "account.manage" role="presentation" tagName="li" class='nav-item' href=false}}<a class='nav-link' {{href:view.href}}>Manage Account</a>{{/link-to}}
				{{#link-to "account.password" role="presentation" tagName="li" class='nav-item' href=false}}<a class='nav-link' {{href:view.href}}>Change Password</a>{{/link-to}}
				{{#link-to "account.delete" role="presentation" tagName="li" class='nav-item' href=false}}<a class='nav-link' {{href:view.href}}>Delete Account</a>{{/link-to}} --}}
					<li class="nav-item">
						{{#link-to "account.manage" class='nav-link'}}Manage Account{{/link-to}}
					</li>
					<li class="nav-item">
						{{#link-to "account.password" class='nav-link'}}Change Password{{/link-to}}
					</li>
					<li class="nav-item">
						{{#link-to "account.delete" class='nav-link'}}Delete Account{{/link-to}}
					</li>
			</ul>
		</div>		
	</div>
	<hr>
{{outlet}}


