{{#if session.currentUser}}
    <button {{action "signOut"}}>Sign Out</button>
{{else}}
    <button {{action "signIn" data}}>Sign in</button>
{{/if}}

<h3>Register</h3>
<!-- REGISTER -->
<form {{action 'registerUser' model on="submit" }}>
	 <h2>Register</h2>
	<div class="form-group">
		<label for="email">Email address</label>
		{{input name="email" placeholder="Enter email" type="email" value=model.email }}
	</div>
	<div class="form-group">
		<label for="password">Password</label>
	     {{input name="password" placeholder="Enter password" type="password" value=model.password }}
	</div>
	<div class="form-group">
		<label for="confirmPassword">Confirm Password</label>
		 {{input name="confirmPassword" placeholder="Confirm password" type="password"  value=model.confirmPassword}}
	</div>	
	<button class="" type='submit'>Register</button>
</form>
<!-- / REGISTER -->
