{{#unless session.currentUser}}
	<form {{action 'signIn' model on="submit"}}> 
		 <h2>Login</h2>
		{{#if model.errors}}
			{{display-errors errors=model.errors}}
		{{/if}}
		{{validated-input-group type="email" placeholder="Enter email" name="email" hasValidationErrors=hasValidationErrors labelText="Email Address" value=model.email errors=errors.validationModel.email}}
		{{validated-input-group type="password" placeholder="Enter password" hasValidationErrors=hasValidationErrors name="password" labelText="Password" value=model.password errors=errors.validationModel.password}}	   
		<button class="btn btn-primary {{if isProcessing 'disabled'}}" type='submit'>Login</button>
		{{#if isProcessing}}
				<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
		{{/if}}
		{{#link-to "reset" class=' btn btn-link'}}Forgot password?{{/link-to}}
	</form>  
{{/unless}}




 