{{#if session.currentUser}}
    <button {{action "signOut"}}>Sign Out</button>
{{else}}
<form {{action 'signIn' model on="submit"}}> 
	 <h2>Login</h2>
	<div class="form-group">
		<label for="email">Email address</label>
		{{validated-input type="email" placeholder="Enter email" value=model.email errors=errors.email}}
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		{{validated-input type="password" placeholder="Enter password" value=model.password errors=errors.password}}
	</div>
   <button class="btn btn-primary" type='submit'>Sign in</button>
</form>
{{/if}}